body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background: url("https://images4.alphacoders.com/909/thumb-350-909185.jpg") repeat;

  /* background: linear-gradient(145deg, #03ccba ,#57a4c3, #a87fcc); */
}
/* ----- Main Section -----------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------ */


.mainC {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-direction: row;

}

.leftContainer {
	flex: 50%;
}

.rightContainer {
	flex: 50%;
}

div.caption-text {
   border-right: 3px ridge red ;
 margin: 20px 60px auto;
 }

 .sty {
   background-size: cover;
   cursor: pointer;
   box-shadow: 0 10px 25px rgba(0,0,0,.7);
   &:hover {
   box-shadow: 0 20px 20px rgba(0,0,0,.5);
   }

@media screen and (max-width: 779px) {
    img {
      max-width: 90vw !important;
    }
    .mainC {
      flex-direction: column;
    }
}

.caption-text{
    font-family: Lato;
    font-size: 18px;
  }
  h2.background{
      background-color: #444444;
      color: white;
      font-family: Century Gothic, sans-serif;
   padding: 8px 8px;
     }

     a{
         color: #010A63;
     }

 .container {
   margin-top: 20px;
   margin-bottom: 0px !important;
 }

 .footer{
         font-family:Chewy;
         font-size:18px;
         padding: 1px auto 1px auto;
     }

 p {
   color: black;
 }
}
